img {
  width: 300px;
  height: 300px;
  margin: 50px;
}

.sharkcat {
  width: 300px;
  float: left;
  margin: 50px;
}

.gay-dog {
  width: 300px;
  float: left;
  margin: 50px;
}

.pugorrila {
  width: 300px;
  float: left;
  margin: 50px;
}

.americahorse {
  width: 300px;
  float: left;
  margin: 50px;
}
